@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.form-input::placeholder {
  color: white;
  font: bold;
}

.song-btn {
  background-color: darkerPink;
}

.sublevel-heading {
  letter-spacing: 0.75em;
}

@media (min-width: 1024px) {
  .sublevel-heading {
    letter-spacing: 1em;
  }
}
